body
{
  font-family:Times;
  background-image: url("images/bg.jpg");
  position:absolute;
  top:0px; left: 0px;
  height:99%;
  width:99%;
}

header
{
  min-height:100px;
  min-width:700px;
  padding:5px;
}

header > img
{
  display: block;
  margin-top: 0em;margin-left: auto;margin-right:auto;
}


nav
{
  display: inline-block;
  width: 99.5%;
  height:3em;
  min-width:800px;
  background-image:url("images/bg_nav.png");
  background-repeat:repeat;
  border:0.3em #03a solid;
  border-radius:10px;
  box-shadow: 6px 6px 6px black;
  text-align: center;
}

ul > li 
{
margin:10%;
display: inline;
left: auto;
}

.deconnexion
{
  position: absolute;
  right:1em;
  top:7.75em;
}

li>a
{
  color: black;
  font-size: 1em;
  padding: 1.1em;
}

a:hover
{
border-bottom: 1px solid #76B41C;
padding-bottom: 5px;
background: transparent;
color: #fff;
}

.contenu_bloc
{
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 2em;
  margin: 3em;
  margin-top: 1em;
  margin-bottom:200px;
  background-image: url("images/bg_c.jpg");
  min-width:655px;
  min-height:250px;
  display: block;
  border: 3px blue solid;
  border-radius:0.7em;
  box-shadow: 6px 6px 6px black;
}
 
.contenu
{
  margin: 2em;
  margin-top: 1em;
  background-color: white;
  border: 3px blue solid;
  border-radius:0.7em;
  box-shadow: 6px 6px 6px black;
}

.contenu > #connexion
{
  margin-top: 1em;
  margin-bottom:1em;
  margin-right: 40%;
  text-align: right;
}

label[for="descProjet"]
{
  vertical-align: top;
}

label[for="descDoc"]
{
  vertical-align: top;
}

label[for="deconnexion"]
{
  font-size: 0.8em;
}

#detailProjet, #listeDoc
{
  margin-right: -40%;
}

table
{
  border-collapse:collapse;
  margin-top: 1em;
  margin-bottom:1em;
}

td, th
{
  border:1px solid black;
}

th
{
  background-color: #D9D9D3
}

td[name=description]
{
  vertical-align: top;
  height: 3em;
  width: 50em;
}

.contenu > #nouveauChercheur, #nouveauProjet, #infoProjet, #nouveauDoc
{
  margin-top: 1em;
  margin-bottom:1em;
  margin-right: 30%;
  text-align: right;
}

#infoProjet >form
{
  display: inline-block;
}

footer
{
  background-image:url("images/bg_f.jpg");
  min-height:140px;
  display: block;
  margin-top: -140px;
  margin-left: 1em;
  margin-bottom:1em;
  width: 98%;
  text-align: center;
  border: 1px  solid;
  border-radius:0.2em;
  color: rgba(0,0,0,0.5);
  font-size: 0.8em;
}


span
{
  margin-left: 35%;
  border: 1px black solid;
  padding-left: 1em;padding-right: 1em;
  background-color: #FF0;
  
}

.calend
{
	width:200px;
	height:140px;
	display:inline-block;
	margin:auto;
}

.foot
{
	position:relative;
	margin-left:300px;
	display:inline-block;
	margin:auto;
	text-align:center;
}

#logos
{
	margin:5px;
	padding:5px;
}